@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #3E1E68;
    overflow: hidden;
}

.background span {
    width: 13vmin;
    height: 13vmin;
    border-radius: 13vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #E45A84;
    top: 87%;
    left: 80%;
    animation-duration: 25s;
    animation-delay: -18s;
    transform-origin: -13vw 17vh;
    box-shadow: 26vmin 0 3.5448356450251515vmin currentColor;
}
.background span:nth-child(1) {
    color: #FFACAC;
    top: 6%;
    left: 51%;
    animation-duration: 33s;
    animation-delay: -5s;
    transform-origin: 22vw 9vh;
    box-shadow: 26vmin 0 4.092581817018338vmin currentColor;
}
.background span:nth-child(2) {
    color: #583C87;
    top: 54%;
    left: 54%;
    animation-duration: 31s;
    animation-delay: -50s;
    transform-origin: 3vw 15vh;
    box-shadow: 26vmin 0 3.268143564714991vmin currentColor;
}
.background span:nth-child(3) {
    color: #FFACAC;
    top: 12%;
    left: 29%;
    animation-duration: 37s;
    animation-delay: -15s;
    transform-origin: 19vw 17vh;
    box-shadow: -26vmin 0 3.351038226934037vmin currentColor;
}
.background span:nth-child(4) {
    color: #FFACAC;
    top: 33%;
    left: 74%;
    animation-duration: 34s;
    animation-delay: -9s;
    transform-origin: 21vw -18vh;
    box-shadow: -26vmin 0 3.5134660875927795vmin currentColor;
}
.background span:nth-child(5) {
    color: #E45A84;
    top: 98%;
    left: 67%;
    animation-duration: 10s;
    animation-delay: -16s;
    transform-origin: 3vw 23vh;
    box-shadow: -26vmin 0 3.271804509587228vmin currentColor;
}
.background span:nth-child(6) {
    color: #FFACAC;
    top: 69%;
    left: 51%;
    animation-duration: 34s;
    animation-delay: -20s;
    transform-origin: -21vw -12vh;
    box-shadow: -26vmin 0 3.638158344030317vmin currentColor;
}
.background span:nth-child(7) {
    color: #583C87;
    top: 82%;
    left: 27%;
    animation-duration: 23s;
    animation-delay: -41s;
    transform-origin: -1vw 25vh;
    box-shadow: 26vmin 0 3.334010317784513vmin currentColor;
}
.background span:nth-child(8) {
    color: #E45A84;
    top: 13%;
    left: 35%;
    animation-duration: 36s;
    animation-delay: -4s;
    transform-origin: 5vw 11vh;
    box-shadow: 26vmin 0 4.096469995513979vmin currentColor;
}
.background span:nth-child(9) {
    color: #E45A84;
    top: 87%;
    left: 62%;
    animation-duration: 21s;
    animation-delay: -44s;
    transform-origin: -22vw -14vh;
    box-shadow: -26vmin 0 3.466199523517488vmin currentColor;
}
.background span:nth-child(10) {
    color: #583C87;
    top: 91%;
    left: 17%;
    animation-duration: 17s;
    animation-delay: -2s;
    transform-origin: 4vw 0vh;
    box-shadow: 26vmin 0 3.759525230813166vmin currentColor;
}
.background span:nth-child(11) {
    color: #E45A84;
    top: 78%;
    left: 67%;
    animation-duration: 54s;
    animation-delay: -4s;
    transform-origin: 4vw 6vh;
    box-shadow: 26vmin 0 3.4885269647225536vmin currentColor;
}
.background span:nth-child(12) {
    color: #E45A84;
    top: 73%;
    left: 37%;
    animation-duration: 13s;
    animation-delay: -25s;
    transform-origin: -16vw 25vh;
    box-shadow: 26vmin 0 4.056988729854355vmin currentColor;
}
.background span:nth-child(13) {
    color: #583C87;
    top: 19%;
    left: 75%;
    animation-duration: 39s;
    animation-delay: -45s;
    transform-origin: -13vw -1vh;
    box-shadow: -26vmin 0 3.8667673902236324vmin currentColor;
}
.background span:nth-child(14) {
    color: #FFACAC;
    top: 93%;
    left: 41%;
    animation-duration: 27s;
    animation-delay: -27s;
    transform-origin: -9vw 24vh;
    box-shadow: 26vmin 0 4.064180066079692vmin currentColor;
}
.background span:nth-child(15) {
    color: #583C87;
    top: 26%;
    left: 90%;
    animation-duration: 14s;
    animation-delay: -4s;
    transform-origin: 2vw -11vh;
    box-shadow: -26vmin 0 4.120369684917481vmin currentColor;
}
.background span:nth-child(16) {
    color: #FFACAC;
    top: 53%;
    left: 88%;
    animation-duration: 15s;
    animation-delay: -37s;
    transform-origin: -9vw -22vh;
    box-shadow: 26vmin 0 3.9170043388396865vmin currentColor;
}
.background span:nth-child(17) {
    color: #583C87;
    top: 28%;
    left: 5%;
    animation-duration: 8s;
    animation-delay: -37s;
    transform-origin: 13vw 3vh;
    box-shadow: -26vmin 0 3.496044761438715vmin currentColor;
}
.background span:nth-child(18) {
    color: #583C87;
    top: 66%;
    left: 15%;
    animation-duration: 33s;
    animation-delay: -11s;
    transform-origin: 1vw 16vh;
    box-shadow: 26vmin 0 3.3354637920877153vmin currentColor;
}
.background span:nth-child(19) {
    color: #E45A84;
    top: 88%;
    left: 59%;
    animation-duration: 55s;
    animation-delay: -22s;
    transform-origin: -20vw -21vh;
    box-shadow: 26vmin 0 3.422362587127546vmin currentColor;
}
.title {
    position: relative;
    z-index: 1;
}